<a href="https://colab.research.google.com/github/anurag1402/basicdata/blob/main/ICC_WT2022_PREDICTIONS(ANURAG).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
import io

In [15]:

results=pd.read_csv(io.BytesIO(uploaded['Past Results.csv']))
worldt20=df=pd.read_csv(io.BytesIO(uploaded['Past Tournaments.csv']))
results.head(10)

,ID,Team1,Team2,Winner,Margin,Ground,Match Date,Scorecard
0,1,Zimbabwe,India,India,10 wickets,Harare,20/06/2016,T20I # 559
1,2,Zimbabwe,India,India,3 runs,Harare,22/06/2016,T20I # 560
2,3,England,Sri Lanka,England,8 wickets,Southampton,5/7/2016,T20I # 561
3,4,India,West Indies,West Indies,1 run,Lauderhill,27/08/2016,T20I # 562
4,5,India,West Indies,no result,NaN,Lauderhill,28/08/2016,T20I # 563
5,6,Ireland,Hong Kong,Hong Kong,40 runs,Bready,5/9/2016,T20I # 564
6,7,Sri Lanka,Australia,Australia,85 runs,Pallekele,6/9/2016,T20I # 565
7,8,England,Pakistan,Pakistan,9 wickets,Manchester,7/9/2016,T20I # 566
8,9,Sri Lanka,Australia,Australia,4 wickets,Colombo (RPS),9/9/2016,T20I # 567
9,10,Pakistan,West Indies,Pakistan,9 wickets,Dubai (DSC),23/09/2016,T20I # 568

In [16]:
current_teams = ['England', 'South Africa', 'West Indies', 
            'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan', 
            'Australia', 'Bangladesh', 'India','Oman','Ireland','Scotland','Papua New Guinea','Namibia','Netherlands']

In [17]:
results= results[(results['Team1'].isin(current_teams)) &(results['Team2'].isin(current_teams))]

In [18]:
df_team_1=results[results["Team1"].isin(current_teams)]
df_team_2=results[results["Team2"].isin(current_teams)]
df_team_3=results[results["Winner"].isin(current_teams)]
df_teams=pd.concat((df_team_1,df_team_2,df_team_3))
df_teams.drop_duplicates()
df_teams.count()

ID            904
Team1         904
Team2         904
Winner        904
Margin        884
Ground        904
Match Date    904
Scorecard     904
dtype: int64

In [19]:
df_teams.head(100)

,ID,Team1,Team2,Winner,Margin,Ground,Match Date,Scorecard
2,3,England,Sri Lanka,England,8 wickets,Southampton,5/7/2016,T20I # 561
3,4,India,West Indies,West Indies,1 run,Lauderhill,27/08/2016,T20I # 562
4,5,India,West Indies,no result,NaN,Lauderhill,28/08/2016,T20I # 563
6,7,Sri Lanka,Australia,Australia,85 runs,Pallekele,6/9/2016,T20I # 565
7,8,England,Pakistan,Pakistan,9 wickets,Manchester,7/9/2016,T20I # 566
...,...,...,...,...,...,...,...,...
115,116,Ireland,Scotland,Ireland,46 runs,Deventer,16/06/2018,T20I # 674
116,117,Ireland,Scotland,tied,None,Deventer,17/06/2018,T20I # 675
117,118,Netherlands,Scotland,Scotland,7 wickets,Amstelveen,19/06/2018,T20I # 676
118,119,Netherlands,Scotland,Scotland,115 runs,Amstelveen,20/06/2018,T20I # 677
119,120,Ireland,India,India,76 runs,Dublin (Malahide),27/06/2018,T20I # 678

In [20]:
df_teams=df_teams.drop(["Match Date","Margin","Ground","Scorecard"],axis=1)
df_teams.head()

   ID      Team1        Team2       Winner
2   3    England    Sri Lanka      England
3   4      India  West Indies  West Indies
4   5      India  West Indies    no result
6   7  Sri Lanka    Australia    Australia
7   8    England     Pakistan     Pakistan

In [21]:
df_teams.drop(df_teams.index[(df_teams["Winner"] == "tied")],axis=0,inplace=True)

In [22]:
df_teams.drop(df_teams.index[(df_teams["Winner"] == "no result")],axis=0,inplace=True)

In [23]:
df_teams.head()

   ID      Team1        Team2       Winner
2   3    England    Sri Lanka      England
3   4      India  West Indies  West Indies
6   7  Sri Lanka    Australia    Australia
7   8    England     Pakistan     Pakistan
8   9  Sri Lanka    Australia    Australia

In [24]:
df_teams = df_teams.reset_index(drop=True)
df_teams.loc[df_teams.Winner == df_teams.Team1,'winning_team']=1
df_teams.loc[df_teams.Winner == df_teams.Team2, 'winning_team']=2
df_teams = df_teams.drop(['winning_team'], axis=1)

df_teams.head()

   ID      Team1        Team2       Winner
0   3    England    Sri Lanka      England
1   4      India  West Indies  West Indies
2   7  Sri Lanka    Australia    Australia
3   8    England     Pakistan     Pakistan
4   9  Sri Lanka    Australia    Australia

In [25]:

final = pd.get_dummies(df_teams, prefix=['Team1', 'Team2'], columns=['Team1', 'Team2'])


X = final.drop(['Winner'], axis=1)
y = final["Winner"]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [26]:
final.head()

,ID,Winner,Team1_Afghanistan,Team1_Australia,Team1_Bangladesh,Team1_England,Team1_India,Team1_Ireland,Team1_Namibia,Team1_Netherlands,...,Team2_Namibia,Team2_Netherlands,Team2_New Zealand,Team2_Oman,Team2_Pakistan,Team2_Papua New Guinea,Team2_Scotland,Team2_South Africa,Team2_Sri Lanka,Team2_West Indies
0,3,England,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,4,West Indies,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,7,Australia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,Pakistan,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9,Australia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.742
Test set accuracy:  0.717

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [28]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,                               random_state=0) 
rf.fit(X_train, y_train)
score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)
print("Training set accuracy: ", '%.3f'%(score)) 
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.998
Test set accuracy:  0.981

In [31]:


# Loading new datasets
ranking = pd.read_csv(io.BytesIO(uploaded['Standings.csv'])) 
fixtures =pd.read_csv(io.BytesIO(uploaded['Fixtures.csv']))


# List for storing the group stage games
pred_set = []

In [32]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Team1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Team2'].map(ranking.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:12, :]
fixtures.tail()

,No,first_position,second_position,Date,Team1,Team2,Venue,Round,Group
7,8,8.0,13.0,20/10/2021,Sri Lanka,Ireland,Abu Dhabi,First Round,Group A
8,9,10.0,16.0,21/10/2021,Bangladesh,Papua New Guinea,Abu Dhabi,First Round,Group B
9,10,18.0,14.0,21/10/2021,Oman,Scotland,Abu Dhabi,First Round,Group B
10,11,19.0,13.0,22/10/2021,Namibia,Ireland,Sharjah,First Round,Group A
11,12,8.0,17.0,22/10/2021,Sri Lanka,Netherlands,Sharjah,First Round,Group A

In [33]:
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Team1': row['Team1'], 'Team2': row['Team2'], 'winning_team': None})
    else:
        pred_set.append({'Team1': row['Team2'], 'Team2': row['Team1'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

              Team1      Team2 winning_team
0  Papua New Guinea       Oman         None
1        Bangladesh   Scotland         None
2       Netherlands   Ireland          None
3         Sri Lanka    Namibia         None
4  Papua New Guinea  Scotland          None

In [34]:

# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['Team1', 'Team2'], columns=['Team1', 'Team2'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]


pred_set1 = pred_set.drop(['Winner'], axis=1)
pred_set1.head()

,ID,Team1_Afghanistan,Team1_Australia,Team1_Bangladesh,Team1_England,Team1_India,Team1_Ireland,Team1_Namibia,Team1_Netherlands,Team1_New Zealand,...,Team2_Namibia,Team2_Netherlands,Team2_New Zealand,Team2_Oman,Team2_Pakistan,Team2_Papua New Guinea,Team2_Scotland,Team2_South Africa,Team2_Sri Lanka,Team2_West Indies
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
predictions = logreg.predict(pred_set1)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    
    else:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print("")

Oman and Papua New Guinea
Winner: Papua New Guinea

Scotland and Bangladesh
Winner: Bangladesh

Ireland  and Netherlands
Winner: Netherlands

Namibia and Sri Lanka
Winner: Sri Lanka

Scotland  and Papua New Guinea
Winner: Papua New Guinea

Oman and Bangladesh
Winner: Bangladesh

Namibia and Netherlands
Winner: Netherlands

Ireland and Sri Lanka
Winner: Sri Lanka

Papua New Guinea and Bangladesh
Winner: Bangladesh

Oman and Scotland
Winner: Scotland

Namibia and Ireland
Winner: Ireland

Netherlands and Sri Lanka
Winner: Sri Lanka

In [36]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train)

predictions = logreg.predict(pred_set1)
print(predictions)

['Australia' 'Scotland' 'Netherlands' 'Sri Lanka' 'Australia' 'Bangladesh'
 'Netherlands' 'Sri Lanka' 'Bangladesh' 'Pakistan' 'Ireland' 'Sri Lanka']

In [37]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)
predictions = model.predict(pred_set1)
print(predictions)

['West Indies' 'Scotland' 'Netherlands' 'Sri Lanka' 'West Indies'
 'West Indies' 'Netherlands' 'Sri Lanka' 'Papua New Guinea' 'West Indies'
 'Ireland' 'Netherlands']

In [38]:
ban=np.count_nonzero(predictions == 'Bangladesh')
sl=np.count_nonzero(predictions == 'Sri Lanka')
irel=np.count_nonzero(predictions == 'Ireland')
ned=np.count_nonzero(predictions == 'Netherlands')
png=np.count_nonzero(predictions == 'Papua New Guinea')
nam=np.count_nonzero(predictions == 'Namibia')
omn=np.count_nonzero(predictions == 'Oman')
sco=np.count_nonzero(predictions == 'Scotland')
fin=[ban,sl,irel,ned,png,nam,omn,sco]
name=["ban","sl","irel","ned","png","nam","omn","sco"]
print(fin)

[0, 2, 1, 3, 1, 0, 0, 1]

In [39]:
for i in range(len(fin)): 
      
    # Find the minimum element in remaining  
    # unsorted array 
    min_idx = i 
    for j in range(i+1, len(fin)): 
        if fin[min_idx] < fin[j]: 
            min_idx = j 
              
    # Swap the found minimum element with  
    # the first element    
    name[i],name[min_idx]=name[min_idx],name[i]
    fin[i], fin[min_idx] = fin[min_idx], fin[i]

In [40]:
print("RANK        TEAM        POINTS")
for x in range(len(name)):
    print(x+1,end="        ")
    print(name[x], end="        ")
  
    print(fin[x]*2,end="         ")
    print("\n")

RANK        TEAM        POINTS
1        ned        6

2        sl        4

3        irel        2

4        png        2

5        sco        2

6        nam        0

7        omn        0

8        ban        0

# Hence the Qualifying teams to super12 stage are Ned,Sco,Sl,Ban

In [43]:
fixtures = pd.read_csv(io.BytesIO(uploaded['Fixtures.csv']))
fixtures = fixtures.iloc[12:, :41]

In [44]:
fixtures.replace(to_replace ="A1", 
                 value = "Netherlands", 
                  inplace = True)
fixtures.replace(to_replace ="A2", 
                 value = "Sri Lanka", 
                  inplace = True)
fixtures.replace(to_replace ="B1", 
                 value = "Bangladesh", 
                  inplace = True)
fixtures.replace(to_replace ="B2", 
                 value = "Scotland", 
                  inplace = True)

In [45]:
fixtures.tail()

    No        Date     Team1       Team2      Venue           Round    Group
40  41   7/11/2021  Pakistan  Bangladesh    Sharjah        Super 12  Group 2
41  42   8/11/2021    India    Sri Lanka      Dubai        Super 12  Group 2
42  43  10/11/2021       TBC         TBC  Abu Dhabi  1st Semi-Final      NaN
43  44  11/11/2021      TBC          TBC      Dubai  2nd Semi-Final      NaN
44  45  14/11/2021      TBC          TBC      Dubai           Final      NaN

In [46]:
matches=[]

In [47]:

for index, row in fixtures.iterrows():
    matches.append({'Team1': row['Team1'], 'Team2': row['Team2'], 'winning_team': None})

In [48]:
matches=pd.DataFrame(matches)
backup_pred_set = matches

In [49]:
backup_pred_set.head()

          Team1         Team2 winning_team
0    Australia   South Africa         None
1      England    West Indies         None
2   Netherlands      Scotland         None
3  South Africa   West Indies         None
4      England       Scotland         None

In [50]:
matches=pd.get_dummies(matches, prefix=['Team1', 'Team2'], columns=['Team1', 'Team2'])

In [51]:
matches.head()

,winning_team,Team1_Afghanistan,Team1_Afghanistan,Team1_Australia,Team1_Australia,Team1_Bangladesh,Team1_England,Team1_India,Team1_India,Team1_Netherlands,...,Team2_Bangladesh,Team2_Netherlands,Team2_New Zealand,Team2_Pakistan,Team2_Scotland,Team2_South Africa,Team2_Sri Lanka,Team2_TBC,Team2_Vs B2,Team2_West Indies
0,None,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,None,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,None,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,None,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,None,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [52]:
matches=matches.drop(['winning_team'], axis=1)

In [53]:
pred_set2=matches

In [54]:
missing_cols = set(final.columns) - set(pred_set2.columns)
for c in missing_cols:
    pred_set2[c] = 0
pred_set2 = pred_set2[final.columns]

In [55]:
pred_set2 = pred_set2.drop(['Winner'], axis=1)

In [56]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train)

predictions2 = logreg.predict(pred_set2)
print(predictions2)

['South Africa' 'West Indies' 'Scotland' 'South Africa' 'Scotland'
 'Australia' 'Scotland' 'Netherlands' 'Australia' 'Netherlands'
 'South Africa' 'Scotland' 'Netherlands' 'West Indies' 'South Africa'
 'Pakistan' 'Afghanistan' 'Australia' 'Sri Lanka' 'Pakistan' 'Sri Lanka'
 'Australia' 'Sri Lanka' 'Netherlands' 'India' 'Sri Lanka' 'Afghanistan'
 'Afghanistan' 'Pakistan' 'Sri Lanka' 'Australia' 'Australia' 'Australia']

In [57]:
eng=np.count_nonzero(predictions == 'England')
pak=np.count_nonzero(predictions == 'Pakistan')
ind=np.count_nonzero(predictions == 'India')
aus=np.count_nonzero(predictions == 'Australia')
sa=np.count_nonzero(predictions == 'South Africa')
ban=np.count_nonzero(predictions == 'Bangladesh')
sl=np.count_nonzero(predictions == 'Sri Lanka')
irel=np.count_nonzero(predictions == 'Ireland')
nz=np.count_nonzero(predictions == 'New Zealand')
wi=np.count_nonzero(predictions == 'West Indies')
fin=[pak,ind,nz,aus,sa,ban,sl,wi,irel,eng,ned]
name=["pak","ind","nz","aus","sa","ban","sl","wi","irel","eng"]
print(fin)

[0, 0, 0, 0, 0, 0, 2, 4, 1, 0, 3]

In [58]:
for i in range(len(fin)): 
      
    # Find the minimum element in remaining  
    # unsorted array 
    min_idx = i 
    for j in range(i+1, len(fin)): 
        if fin[min_idx] < fin[j]: 
            min_idx = j 
              
    # Swap the found minimum element with  
    # the first element    
    name[i],name[min_idx]=name[min_idx],name[i]
    fin[i], fin[min_idx] = fin[min_idx], fin[i]

IndexError: ignored

In [59]:
print("RANK        TEAM        POINTS")
for x in range(len(name)):
    print(x+1,end="        ")
    print(name[x], end="        ")
  
    print(fin[x]*2,end="         ")
    print("\n")

RANK        TEAM        POINTS
1        wi        8

2        ind        0

3        nz        0

4        aus        0

5        sa        0

6        ban        0

7        sl        4

8        pak        0

9        irel        2

10        eng        0

In [60]:
# Semi Finalists are west indies,INDIA,NZ and AUSTRALIA.
#SF1=WI vs NZ
#SF2=IND vs AUS

In [61]:
X_train.columns

Index(['ID', 'Team1_Afghanistan', 'Team1_Australia', 'Team1_Bangladesh',
       'Team1_England', 'Team1_India', 'Team1_Ireland', 'Team1_Namibia',
       'Team1_Netherlands', 'Team1_New Zealand', 'Team1_Oman',
       'Team1_Pakistan', 'Team1_Papua New Guinea', 'Team1_Scotland',
       'Team1_South Africa', 'Team1_Sri Lanka', 'Team1_West Indies',
       'Team2_Afghanistan', 'Team2_Australia', 'Team2_Bangladesh',
       'Team2_England', 'Team2_India', 'Team2_Ireland', 'Team2_Namibia',
       'Team2_Netherlands', 'Team2_New Zealand', 'Team2_Oman',
       'Team2_Pakistan', 'Team2_Papua New Guinea', 'Team2_Scotland',
       'Team2_South Africa', 'Team2_Sri Lanka', 'Team2_West Indies'],
      dtype='object')

In [62]:

X_train.columns

Index(['ID', 'Team1_Afghanistan', 'Team1_Australia', 'Team1_Bangladesh',
       'Team1_England', 'Team1_India', 'Team1_Ireland', 'Team1_Namibia',
       'Team1_Netherlands', 'Team1_New Zealand', 'Team1_Oman',
       'Team1_Pakistan', 'Team1_Papua New Guinea', 'Team1_Scotland',
       'Team1_South Africa', 'Team1_Sri Lanka', 'Team1_West Indies',
       'Team2_Afghanistan', 'Team2_Australia', 'Team2_Bangladesh',
       'Team2_England', 'Team2_India', 'Team2_Ireland', 'Team2_Namibia',
       'Team2_Netherlands', 'Team2_New Zealand', 'Team2_Oman',
       'Team2_Pakistan', 'Team2_Papua New Guinea', 'Team2_Scotland',
       'Team2_South Africa', 'Team2_Sri Lanka', 'Team2_West Indies'],
      dtype='object')

In [63]:
sf1=[[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1]]
i=0
chk=0
for x in X_train.columns:
    if(x=='Team1_West Indies' or x=='Team2_New Zeland'):
        sf1[0][i]=1
        if(x=='Team1_India'):
            chk=i
    i=i+1

ressf1=rf.predict(sf1)
print(ressf1)

['West Indies']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [64]:
sf2=[[0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0]]
rsf2=rf.predict(sf2)
print(rsf2)

['India']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [65]:
findataset=[[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,00,00,0,0,0,0,0,0,0,00,00,0]]
i=0
chk=0
for x in X_train.columns:
    if(x=='Team1_West Indies' or x=='Team_2_India'):
        findataset[0][i]=1
        
    i=i+1

ressf=rf.predict(findataset)
print("The T20 world Cup 2020 winner is")
print(ressf)

The T20 world Cup 2020 winner is
['West Indies']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"